body {
  background-color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  color: #242424;
}

div {
  margin: 1.4rem auto 0;
  width: fit-content;
  background-color: aqua;
  border-radius: 21px;
  padding: 0.5rem;
  transition: 0.4s all ease-in-out
}

div:hover {
  background-color: aquamarine;
  scale: 0.9;
}